[Unit]
After=network.target
Description=Arb server
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/arb \
  --bitcoin-data-dir /var/lib/bitcoind \
  --data-dir /var/lib/arb \
  --config-dir /var/lib/arb \
  --chain ${CHAIN} \
  --index-sats \
  server \
  --acme-contact mailto:casey@rodarmor.com \
  --http \
  --https
Group=arb
LimitNOFILE=65536
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=5s
StateDirectory=arb
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=arb
WorkingDirectory=/var/lib/arb

[Install]
WantedBy=multi-user.target
